/*********************************
* START GLOBAL PADDING - MARGIN
**********************************/
.p5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pbottom-10 {
    padding-bottom: 10px;
}
/*********************************
* END GLOBAL PADDING - MARGIN
**********************************/

.add-control-container {
    margin-top: 30px;
    border: 3px rgba(0,0,0, .4) dotted;
    padding: 40px;
    user-select: none;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.add-control-container:hover {
    border-color: #4834d4;
    cursor: pointer;
}

.add-control-container > p {
    margin: 0;
}

.add-control-container:hover > p {
    font-weight: bold;
}

.add-container-list {
    margin-top: 15px;
}

.type-desc {
    font-size: 14px;
}

.type-headline {
    font-weight: bold;
}

.section-container {
    position: relative;
    border: 2px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.section-container:hover {
    border: 2px solid #0198fa;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.section-container .section-config {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.section-container:hover .section-config {
    display: block;
}

.buttons > button {
    margin-right: 5px;
}

.normal-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.normal-section .headline-block {
    padding: 0 15px;
}

.vue-form-builder .row-block {
    background-color: rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 40px 20px;
    margin: 15px;
}

.add-row-outer {
    margin-top: 15px;
    padding: 0 15px;
}

.vue-form-builder .add-row-container {
    border: 3px rgba(0,0,0, .4) dotted;
    padding: 40px;
    user-select: none;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.vue-form-builder .add-row-container:hover {
    border-color: #badc58;
    cursor: pointer;
    font-weight: bold;
}

/*********************************
* SIDEBAR CLASS
**********************************/

.vue-form-builder .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-left: 1px solid rgba(0,0,0,.3)
}

.vue-form-builder .sidebar .close {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 36px;
    margin-right: 50px;
    cursor: pointer;
}

body {
    transition: margin-left .5s; /* If you want a transition effect */
}

.vue-form-builder .sidebar-form-configuration {
    padding: 15px;
}

.vue-form-builder .sidebar-form-configuration .buttons {
    text-align: right;
}