/*********************************
* START GLOBAL PADDING - MARGIN
**********************************/
.p5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pbottom-10 {
    padding-bottom: 10px;
}
/*********************************
* END GLOBAL PADDING - MARGIN
**********************************/

.vue-form-builder hr {
    margin: 30px 0;
}

.vue-form-builder .copyright-text {
    padding-top: 20px;
    color: rgba(0,0,0,.4);
    font-size: 13px;
    text-align: center;
}

.vue-form-builder .add-section-container {
    margin-top: 30px;
    border: 3px rgba(0,0,0, .4) dotted;
    padding: 40px;
    user-select: none;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.vue-form-builder .add-section-container:hover {
    border-color: #4834d4;
    cursor: pointer;
}

.vue-form-builder .add-section-container > p {
    margin: 0;
}

.vue-form-builder .add-section-container:hover > p {
    font-weight: bold;
}

.vue-form-builder .add-container-list {
    margin-top: 15px;
}

.vue-form-builder .type-desc {
    font-size: 14px;
}

.vue-form-builder .type-headline {
    font-weight: bold;
}

.vue-form-builder .section-container {
    position: relative;
    border: 2px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.vue-form-builder .section-container:hover,
.vue-form-builder .section-container.active {
    border: 2px solid #0198fa;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.vue-form-builder .section-container .section-config {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.vue-form-builder .section-container:hover .section-config {
    display: block;
}

.vue-form-builder .buttons > button {
    margin-right: 5px;
}

.vue-form-builder .normal-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.vue-form-builder .headline-block {
    padding: 0 15px;
    user-select: none;
}

.vue-form-builder .row-block {
    background-color: rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 40px 20px;
    margin: 15px;
}

.vue-form-builder .add-row-outer,
.vue-form-builder .add-control-outer {
    margin-top: 15px;
    padding: 0 15px;
}

.vue-form-builder .add-row-container,
.vue-form-builder .add-control-container {
    margin-top: 40px;
    border: 3px rgba(0,0,0, .4) dotted;
    padding: 40px;
    user-select: none;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.vue-form-builder .add-row-container:hover,
.vue-form-builder .add-control-container:hover {
    border-color: #badc58;
    cursor: pointer;
    font-weight: bold;
}

.vue-form-builder .outer-add-control {
    margin: 0 15px;
}

/*********************************
* SIDEBAR CLASS
**********************************/

.vue-form-builder .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-left: 1px solid rgba(0,0,0,.3)
}

.vue-form-builder .sidebar .close {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 36px;
    margin-right: 50px;
    cursor: pointer;
}

body {
    transition: margin-left .5s; /* If you want a transition effect */
}

.vue-form-builder .sidebar-form-configuration {
    padding: 15px;
}

.vue-form-builder .sidebar-form-configuration .buttons {
    text-align: right;
}

.vue-form-builder .toggleable-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.vue-form-builder .toggleable-section .headline-block {
    border-bottom: 1px solid #000;
}

.vue-form-builder .toggleable-section .headline-block small {
    font-size: 15px;
}

.vue-form-builder .toggle-item {
    cursor: pointer;
}

/*********************************
* Vue-Transition Classes - Slide Up/Down
**********************************/
.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-enter, .slide-leave-to {
    overflow: hidden;
    max-height: 0;
}