.control-error {
    border: 1px solid #ff0000;
}

label.bold {
    font-weight: bold;
}

label.italic {
    font-style: italic;
}

label.underline {
    text-decoration: underline;
}

.controlItemWrapper {
    border: 1px solid silver;
    padding:0;
}

.controlItem {
    margin: 0;
    padding: 10px;
    padding-left: 0;
    background-color: #FFF;
}

.onSelect {
    /*margin: 0;*/
    border: 1px solid aqua;
}

.clickable {
    cursor: pointer;
}
